export(PenalizedLDA,PenalizedLDA.cv,plot.penlda,print.penlda,print.penldacv,plot.penldacv,predict.penlda)
import(flsa)
import(graphics)
import(stats)
import(utils)
S3method(print,penlda)
S3method(plot,penlda)
S3method(print,penldacv)
S3method(plot,penldacv)
S3method(predict,penlda)
